<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing Detail</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

Detail!!

<div>
    id : <input type="text" id="input_id"/> <br/>
    title : <input type="text" id="input_title"/> <br/>
    content : <input type="text" id="input_content"/> <br/>
</div>

<!--<button onclick="detail_writing()">등록하기</button>-->

<script>
    let tempHref = location.href; // 현재 내가 접속한 주소값!
    // alert(tempHref);

    let tempOrder = tempHref.lastIndexOf("/"); // 마지막으로 나오는 "/"
    let tempId = tempHref.substring(tempOrder + 1); // "/" 다음으로 오는 값(Id)을 substring으로 잘라서 가져오기 위함
    // alert(tempId);

    let tempOrder2 = tempId.indexOf("?") // 가장 먼저나오는 ?가 어딨는지
    if (tempOrder2 > -1) {// ?를 포함한다면
        tempId = tempId.substring(0, tempOrder2);
    }
    // alert(tempId);

    // 위랑 같은 원리
    // let tempArray = tempHref.split("/"); // split로 자름
    // let tempId2 = tempArray[tempArray.length - 1];
    // alert(tempId2);

    $(function() {
        detail_writing()
    }); // 등록하기 버튼을 굳이 안눌러도 자동으로 detail page가 뜨게



    function detail_writing() {
        // alert("등록이 시작됩니다!");
        $.ajax({
            url: '/api/writing/detail', // requestmapping에서 정의한 주소
            method: 'GET',
            data : { // json 형태
                id : tempId
            },
            dataType : "json",
            contentType:"application/json",
            success: function (data, status, xhr) { // 성공 시 alert 띄워줌
                alert("data :" + JSON.stringify(data));

                let writing = data["data"];
                let id = writing["id"];
                let title = writing["title"];
                let content = writing["content"];
                $("#input_id").val(id);
                $("#input_title").val(title);
                $("#input_content").val(content);
            },
            error: function (data, status, err) {
                // 우리가 잘못하지 않아도 가끔 네트워크 오류로 인해 error 되는 경우 있음
                alert("error :" + JSON.stringify(data));
            },
            complete: function () {
                // complete : error가 나든, success가 나든 상관없이 요청이 끝나면 무조건 실행되는 부분
                // 사실 크게 실행할 일은 없음
            }
        });
    }
</script>
</body>
</html>